
*{
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
header{
    background:#F96E78;
    width: 100%;
    height: 55px;
    padding: 15px;
    margin-bottom: 25px;
    
    
}
header img{
    width: 55px;
    padding: 15px;
    border-radius: 25px;
     position: absolute;
     top: 0;
}
header a{
    padding: 3px 20px; 
    margin: 88px;  
    text-decoration: none;
    color: antiquewhite;
    font-size: 1.5rem;
    animation-duration: 3s;
    animation-name: slidein;
    transition: .5s; 
   
}

header a:hover{
    border-radius: 12px ;
    background-color: #d14e57;

}
main{
    padding: 45px;
    background-color: #ecd4d5;
    width: 950px;
    border-radius: 15px;
    position: relative;
    margin-left: 150px;
    margin-bottom: 55px;
    color: #d14e57;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
   
}
main h1{
    font-size: 1.8rem;
    margin-bottom: 17px;
    text-align: center;
}
.paralax{
    background-image: url(https://i.giphy.com/media/v1.Y2lkPTc5MGI3NjExcmpxYXNjNG1jOW91Zzdxang2YzhkanEzYXdsNGNuN21xb2N2N3dtMyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/EuiC52tWm5yCc/giphy.gif);
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
section{
    background-color:#FCC2C6;
    color: #d14e57;
    text-align: center;
    padding: 50px;
}
section h2{
    padding: 25px;
    font-size: 2.5rem;
}
section p{
    font-size: 1.2rem;
    padding: 25px;
    margin-bottom: 25px;
}
section img{
    width: 599px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);

}
footer{
    padding-left: 250px;
    padding-top: 35px;

}
footer img{
    display: inline;
    width: 25px;
}
footer
.header-p{
    padding: 5px;
    margin: 0;
}
iframe{
    border-radius: 15px;
}

@media (max-width: 768px) {
    main {
        width: 80%;
        margin-left: 5%;
        padding: 20px;
    }

    section img {
        width: 100%;
    }
 
    header a {
        margin: 40px;
        font-size: 1.1rem;
        
    }
    iframe{
        width: 70%;
        height: 50%;
    }
}

/* Estilo para dispositivos com largura máxima de 480px */
@media (max-width: 430px) {
    header {
        height: auto;
        padding: 10px;
    }

    header img {
        width: 40px;
        padding: 10px;
    }

    header nav a {
        text-align: right;
        margin: 3px;
        font-size: 0.7rem;
        display: block;
        
    }

    main {
        width: 100%;
        margin-left: 0;
        padding: 10px;
    }

    section {
        padding: 20px;
    }

    section h2 {
        font-size: 2rem;
    }

    section p {
        font-size: 1rem;
    }
}